<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<%- css('client') %>
	<%- js('iframe') %>
</head>
<body>
	<div class="vote">
		<iframe 
			src="http://nodeknockout.com/iframe/ten-nine-eight-seven" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
		</iframe>
	</div>
	<div class="about-link">
		<a class="show-about" href="#">About</a>
	</div>
	<div class="overlay">
		<div class="about">
			<h2>Bigbrother is watching YOU!</h2>

			<p>As nearly every of the mobile devices we use nowadays to consume mass media is capable of putting ourselves under complete surveillance, we leverage them to track a single event from as many angles as possible.</p>

			<p>Bigbrother combines the video streams of many androids' cameras, converts them into the open format WebM and displays them live in your browser using only HTML5 video capabilities. No flash or whatsoever plugin needed. The location of each recorder is tracked and displayed on a map for convenient selection. Furthermore we track the cameras' orientations to correct the recorded videos using css transformations in the browser.</p>

			<p>Though we would love to show you the power of bigbrother when it comes to bootlegging live events, we cannot. Unfortunately we spent the whole weekend fiddling with weird video container formats and didn't visit any concerts but please see for yourself:</p>




			<h3>Download the apk</h3>

			<ul>
			<li><a href="https://github.com/nko3/ten-nine-eight-seven/raw/master/android/bin/Ten-nine-eight-seven.apk">Long link</a></li>
			<li><a href="http://goo.gl/zD1Gf">Short link: http://goo.gl/zD1Gf</a></li>
			</ul><p><img src="http://chart.googleapis.com/chart?cht=qr&chs=100x100&choe=UTF-8&chld=H|0&chl=http://goo.gl/zD1Gf" alt="QR - Code" style="max-width:100%;"></p>


		</div>
	</div>

	<iframe 
		src="http://81.169.175.164:3000/map/" 
		frameborder=0 scrolling=no allowtransparency=true width="100%" height="100%">
	</iframe>
</body>
</html>
