<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<%- css('client') %>
	<%- js('client') %>
</head>
<body>
	<div class="vote">
		<iframe 
			src="http://nodeknockout.com/iframe/ten-nine-eight-seven" frameborder=0 scrolling=no allowtransparency=true width=115 height=25>
		</iframe>
	</div>

	<iframe 
		src="http://81.169.175.164/map/" 
		frameborder=0 scrolling=no allowtransparency=true width="100%" eight="1005">
	</iframe>
</body>
</html>
