html { 
	height: 100% 
}
body { 
	height: 100%; 
	margin: 0;
	padding: 0;
}
.map { 
	height: 100%;
	width: 100%;
}

.overlay {
	display: none;	
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: black;
	opacity: 0.8;
}

.vote {
	position: absolute;
	text-align: center;
	padding: 10px 0;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	border-bottom: 1px solid black;
}

video {
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	z-index: 2;
}

.label {
	background-color: white;
	border:1px #eee solid;
	padding: 2px 3px;
	position: relative;
	left: 6px;
	bottom: 23px;
	font: 10px Arial;
	z-index: 1.5;
}