html { 
	height: 100% 
}
body { 
	height: 100%; 
	margin: 0;
	padding: 0;
}
.map { 
	height: 100%;
	width: 100%;
}

.overlay {
	display: none;	
}

.about {
	position: absolute;
	text-align: left;
	padding: 10px;
	right: 0;
	top: 0;
	margin-top: 60px;
	margin-right: 10px;
	background: white;
	border: 1px solid black;
	opacity: .9;
	width: 400px;
	font-family: Arial;
	font-size: 12px;
}

.about-link {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 10px;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: black;
	opacity: 0.8;
}

.vote {
	position: absolute;
	text-align: center;
	padding: 10px 0;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	border-bottom: 1px solid black;
}

video {
	position: absolute;
	top: 20%;
	left: 25%;
	width: 50%;
	z-index: 2;
}

.label {
	background-color: white;
	border:1px #eee solid;
	padding: 2px 3px;
	position: relative;
	left: 6px;
	bottom: 23px;
	font: 10px Arial;
	z-index: 1.5;
}